@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #d6d6d6;
  display: flex;
  justify-content: center;
}

#card {
  width: 19.875rem;
  height: 25rem;
  background-color: #ffffff;
  border-radius: 15px;
}

#img {
  background: #BCD1FF;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
}

#conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 23px 24px 23px;
}

#header {
  display: flex;
  justify-content: space-between;
}

#header #productivity {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #6E798C;
}

#header #daysago {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
  color: #6E798C;
}

#titulo {
  padding-top: 10px;
  font-family: DM Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #081F32;
}

#paragrafos {
  padding-top: 10px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #374A59;
}

#footer {
  padding-top: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer #autor {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #007AE9;
}

#footer #readmore {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;
  color: #007AE9;
}

#footer #readmore:hover {
  text-decoration: none;
  border-bottom: 1px solid #007AE9;
}

@media screen and (max-width: 1000px) {}